src/flows/Test_PDF_Form_Parse.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_PDF_Form</name>
        <label>Parse PDF Form</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>PS2PdfFormParserService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PDF_Info</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentId</name>
            <value>
                <elementReference>contentDocId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PS2PdfFormParserService</nameSegment>
        <outputParameters>
            <assignToReference>pdfJSONText</assignToReference>
            <name>response</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Test PDF Form Parse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test PDF Form Parse</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>PDF_Info</name>
        <label>PDF Info</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>JSONData</name>
            <fieldText>&lt;p&gt;{!pdfJSONText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parse_PDF_Form</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>069KY000006TdJgYAK</stringValue>
        </value>
    </variables>
    <variables>
        <name>pdfJSONText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
